{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- IP Addresses DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">IP Address - {{ form.address.value }}</h6>
    </div>
    <div class="card-body">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
<!--            TODO: Cerate best design( split form input to two column and create "horizontal input" for 'Service' an 'System type' fields -->
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control col-md-6" type="submit" value="Save">
        </form>
    </div>
</div>
{% endblock %}