{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- IP Addresses DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Domain - {{ domains.name }}</h6>
    </div>
    <div class="card-body">
        <p> You really want delete domain - {{ domains.name }}? </p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Yes</button>
            <a class="btn btn-success" type="cancel" onclick="history.back()">No</a>
        </form>
    </div>
</div>
{% endblock %}