{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- IP Addresses DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Subnets</h6>
        <a class="btn btn-success btn-sm" href="{% url 'subnet_add' %}">Add</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Location</th>
                    <th>Network</th>
                    <th>Subnet</th>
                    <th>Gateway</th>
                    <th>VLAN</th>
                    <th>Service</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Location</th>
                    <th>Network</th>
                    <th>Subnet</th>
                    <th>Gateway</th>
                    <th>VLAN</th>
                    <th>Service</th>
                </tr>
                </tfoot>
                <tbody>
                    {% regroup subnets by network as subnets_by_network %}
                    {% for group in subnets_by_network %}
                        {% for item in group.list %}
                            <tr>
                                {% if forloop.first %}
                                    <td rowspan="{{ group.list|length }}"> {{ item.network.location.description }}</td>
                                    <td rowspan="{{ group.list|length }}"> {{ item.network }} </td>
                                {% endif %}
                                <!-- subnet-->
                                <td><a href="{{ item.get_absolute_url }}">{{ item.subnet }}</a></td>
                                <!-- gateways-->
                                <td>{{ item.gateway }}</td>
                                <!-- VLAN-->
                                <td>{{ item.vlan }}</td>
                                <!-- services-->
                                <td>
                                    {% for service in item.service.all %}
                                        <p>{{ service.name }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}